<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">User</title>
</head>
<body>
<form method="get" action="/logout">
    <button class="logout">LogOut</button>
</form>
<h1>User found by given id: </h1>
<h3><p th:text="${userById.toString()}">VALUE</p></h3>
<form method="get" th:action="@{/admin/{id}/delete(id=${id})}">
    <button class="delete">Delete this user</button>
</form>

<p><h2>Edit user:</h2>
<form th:method="post" th:action="@{/admin/{id}/update(id=${id})}" th:object="${userById}">

    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="my_roles">Enter role:</label>
    <select multiple name="my_roles" id="my_roles">
        <option>ROLE_USER</option>
        <option>ROLE_ADMIN</option>
    </select>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>